
@font-face {
    font-family: 'Biko';
    src: url('Biko.woff2') format('woff2'),
        url('Biko.woff') format('woff'),
        url('Biko.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Heathergreen';
    src: url('Heathergreen.woff2') format('woff2'),
        url('Heathergreen.woff') format('woff'),
        url('Heathergreen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}







